@font-face{font-family: Perpetua; src: url(Assets/perpetua.ttf)}
h1,h2,h3,h4,h5,h6,p,div{
    color:white;
    font-family: Perpetua;
    text-align: center;
}
button{
    width:110px;
    font-size:11.5px;
    color:white;
    background-color:black;
}
#journal2{
    z-index: 1;
    background-color:rgb(46, 45, 45);
}
.patch{
    margin-bottom: 0;
    bottom:0vh;
    z-index:2 !important;
    top:0vh;
    position:fixed ;
    max-height:3vh
}
#creature_Name{
    top:0vh;
    position:relative;
    left:50%;
    transform: translateX(-55%);
    font-size:48px;
    margin-bottom: 0px;
    max-width:24vw;
}
#creature_Description{
    position:relative;
    left:50%;
    transform: translateX(-55%);
    margin-top:3px;
    font-size:24px;
    font-style:italic;
    max-width:24vw;
}
@media screen and (orientation:portrait){
    .patch{
        display:none !important;
    }
    #creature_Name{
        max-width: 100vw !important;
    }
    #creature_Description{
        max-width:100vw !important;
    }
    #hornet_Comment{
        max-width:100vw !important
    }
    #hornet_Commentimg{
        max-width:100vw !important;
        width:100vw !important;
    }
    #creature_Location{
        width:100vw !important;
    }
    #enemyHP{
        width:100vw !important;
    }
    #enemyDrops{
        width:100vw !important;
    }
    #creature_slay{
        width:100vw !important
    }
    #creatureFilter{
        width:100vw !important;
        max-height:75vh !important;
        font-size:40px;
        button{
            font-size:40px;
            width:80vw !important;
            height:20vh !important;
            padding:3px !important;
        }
    }
    #fullBody{
        margin-top:100% !important;
    }
    .book{
        grid-template-rows: 8% 75% 25% !important;
        grid-template-columns: 100% !important;

    }
    .Journal{
        left:0 !important;
        display: flex !important;
        top:0 !important;
        position: relative !important;
        width:98vw !important;
        text-align: left !important;
        max-width:98vw !important;
    }
    .portraits{
        left:0 !important;
        display:flex !important;
        max-height:15vh !important;
        min-width:100vw !important;
        bottom:0 !important;
        overflow-x:scroll !important;
        top:0 !important;
        position: fixed !important;
    }
    .fullBody{
        top:0vh !important;
        left:0 !important;
        display:flex !important;
        left:0 !important;
        position:relative !important;
        scale: 0.75 !important;
        height:100vh !important;
        max-width: 100vw !important;
        width: 100vw !important;
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
    }
}
#hornet_Commentimg{
    position:relative;
    left:50%;
    transform: translateX(-55%);
    width:26vw;
    max-width:26vw
}
#hornet_Comment{
    position:relative;
    left:50%;
    transform: translateX(-55%);
    margin-top:3px;
    margin-bottom:3px;
    font-size:24px;
    font-style:italic;
    max-width:24vw;
}
#creature_Location{
    border:solid;
    border-radius:7px;
    color:white;
    width:10vw;
    height:4vh;
    text-align:center;
    align-content: center;
    font-size:22px;
    float:left;
    margin-right:0.2vw;
    margin-bottom: 0.2vh;
}
#creature_slay{
    border:solid;
    border-radius:7px;
    color:white;
    width:10vw;
    height:4vh;
    margin-top:0.2vh;
    text-align:center;
    align-content: center;
    font-size:20px;
    float:left;
    margin-right:0.2vw
}
#enemyHP{
    border:solid;
    width:13vw;
    height:9vh;
    text-align:center;
    align-content: center;
    font-size:24px;
    color:white;
    border-radius:7px;
    margin-right:2vw;
    float:right;
    transform: translateX(-7%)
}
#enemyDrops{
    margin-top:5px;
    border:solid;
    width:23.5vw;
    text-align:center;
    font-size:24px;
    color:white;
    border-radius:7px;
    float:left;

}
#creatureFilter{
    margin-top:5px;
    border:solid;
    width:23.5vw;
    text-align:center;
    font-size:20px;
    color:white;
    border-radius:7px;
    float:left;
    padding:0px;
    max-height:20vh;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:unset;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#creatureFilter::-webkit-scrollbar{
    display:none;
}
#currFilter{
    position:sticky;
    top:0;
    height:30px;
    text-align:center;
    background-color:rgb(46, 45, 45);
    margin-bottom:10px
}
#portraitCol{
    height: 100%;
    padding: 0 20px;
}
.portraits{
    max-width:350px;
    z-index: 1;
    max-height:100vh;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgb(46, 45, 45);
}
#fullBody{
    /* width:50%; */
    background:local;
}
.fullBody{
    /* position:fixed; */
    /* display:flex; */
    /* justify-content: center; */
    /* align-items:center; */
    /* height:600px; */
    /* width:45%; */
    /* float:inline-start; */
    /* left:25%; */
    max-width:100vh;

}

.Journal{
   /*   left:71%;
    top:0;
    position:fixed;
    width:26%;
    float:left;
    max-width:400px;
    overflow:hidden */
    /* max-width:25vw; */
    max-height:95vh;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgb(46, 45, 45);
}
.HJPortrait{
    border:0px;
}
.HJPortrait:hover{
    transition:ease-in-out, 0.5s;
    opacity:50%;
    border:5px;
    border-color:rgb(134, 172, 246)
}
.book{
    display:grid;
    grid-template-columns: 25% 48% 27%;
    text-align:center;
    align-items: center;
}
img{
    padding:0px;
}
html{
    background-color:rgb(46, 45, 45);
    overflow: hidden;
}